#centerwell H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; MARGIN-BOTTOM: 8px; COLOR: #c00; FONT-FAMILY: Palatino Linotype, Book Antiqua, Georgia, Times New Roman, serif; TEXT-ALIGN: right; TEXT-DECORATION: none
}
#centerwell P {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif
}
#centerwell UL {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif
}
#centerwell LI {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif
}
.seealsosection P {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif
}
#centerwell H3 {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
#centerwell H4 {
	FONT-FAMILY: Verdana, Arial, sans-serif
}
#centerhead H3 {
	FONT: 12px/17px Verdana, Arial, Helvetica, sans-serif; COLOR: #000
}
#centerhead H3 STRONG {
	FONT-WEIGHT: bold
}
.description UL {
	PADDING-BOTTOM: 10px
}
A:link {
	COLOR: #c00
}
A:hover {
	COLOR: #c00
}
A:visited {
	COLOR: #c00
}
.linkshead H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px 0px 0px 7px; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
.linksbody H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 10px 0px 0px 7px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
