<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SecVizAdminApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SecVizUserControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SecVizAdminApp.Properties.Settings>
            <setting name="SecVizUserControl_MonitorWebRef_ServerMonitorService"
                serializeAs="String">
                <value>http://localhost:8080/Services/ServerMonitorService.asmx</value>
            </setting>
            <setting name="SecVizUserControl_AggregationService_AggregationService"
                serializeAs="String">
                <value>http://localhost:8080/Services/AggregationService.asmx</value>
            </setting>
            <setting name="SecVizUserControl_CorrelationService_CorrelationService"
                serializeAs="String">
                <value>http://localhost:8080/Services/CorrelationService.asmx</value>
            </setting>
        </SecVizAdminApp.Properties.Settings>
        <SecVizUserControl.Properties.Settings>
            <setting name="SecVizUserControl_MonitorWebRef_ServerMonitorService"
                serializeAs="String">
                <value>http://localhost:8080/Services/ServerMonitorService.asmx</value>
            </setting>
        </SecVizUserControl.Properties.Settings>
    </applicationSettings>
</configuration>